@media screen and (min-width: 1200px) {
  .left .profile {
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 96%;
  }

  main .container {
    width: 96%;
    left: 2%;
    grid-template-columns: 5rem auto 30vw;
  }

  .left {
    z-index: 5;
  }

  .left .profile {
    display: none;
  }

  .sidebar .menu-item {
    justify-content: center;
  }

  .sidebar .menu-item h3 {
    display: none;
  }

  .sidebar .menu-item i {
    margin-left: 0;
  }

  .left .btn-primary {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  nav .search-bar {
    display: none;
  }

  main .container {
    grid-template-columns: 0 auto 5rem;
  }

  .left .sidebar {
    position: fixed;
    top: 4rem;
    right: 0;
    width: 5rem;
    overflow-y: auto;
    /* border-radius: var(--card-border-radius); */
  }

  .right {
    display: none;
  }
}
