* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial;
}

.main {
  display: grid;
  grid-template-columns: 18vw auto 20vw;
  gap: 10px;
}

.first {
  background-color: rgb(13, 81, 145);
  min-height: 100vh;
}

.second {
  min-height: 100vh;
  background-color: rgb(229, 169, 121);
  overflow: hidden;
}

.third {
  min-height: 100vh;
  background-color: yellow;
}

.scrollable-container {
  display: flex;
  gap: 5px;
  flex-wrap: nowrap;
  overflow: auto;
  border: 2px solid slateblue;
  /* width: 300px; */
}
.card {
  flex: 0 0 auto;
  background-color: palegreen;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
