<link rel="stylesheet" href="/css/styles.css" />
<h1>Log In</h1>

<% if (error_msg) { %>
<div><%= error_msg %></div>
<% } %> <% if (error) { %>
<div><%= error %></div>
<% } %> <% if (success_msg) { %>
<div><%= success_msg %></div>
<% } %>
<form action="/auth/login" method="post">
  <label for="email">Email</label>
  <input type="text" id="email" name="email" required />
  <label for="password">Password</label>
  <input type="password" id="password" name="password" required />
  <button type="submit">Log In</button>
</form>
<a href="/auth/register">Register</a>
